@font-face {
  font-family: 'ClearSans-Light';
  src: url('../fonts/intel/ClearSans-Light.eot');
  src: url('../fonts/intel/ClearSans-Light.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-Light.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-Light.svg') format('svg');
  src: url('../fonts/intel/ClearSans-Light.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Regular';
  src: url('../fonts/intel/ClearSans-Regular.eot');
  src: url('../fonts/intel/ClearSans-Regular.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-Regular.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-Regular.svg') format('svg');
  src: url('../fonts/intel/ClearSans-Regular.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Medium';
  src: url('../fonts/intel/ClearSans-Medium.eot');
  src: url('../fonts/intel/ClearSans-Medium.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-Medium.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-Medium.svg') format('svg');
  src: url('../fonts/intel/ClearSans-Medium.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Bold';
  src: url('../fonts/intel/ClearSans-Bold.eot');
  src: url('../fonts/intel/ClearSans-Bold.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-Bold.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-Bold.svg') format('svg');
  src: url('../fonts/intel/ClearSans-Bold.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-Italic';
  src: url('../fonts/intel/ClearSans-Italic.eot');
  src: url('../fonts/intel/ClearSans-Italic.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-Italic.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-Italic.svg') format('svg');
  src: url('../fonts/intel/ClearSans-Italic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-MediumItalic';
  src: url('../fonts/intel/ClearSans-MediumItalic.eot');
  src: url('../fonts/intel/ClearSans-MediumItalic.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-MediumItalic.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-MediumItalic.svg') format('svg');
  src: url('../fonts/intel/ClearSans-MediumItalic.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'ClearSans-BoldItalic';
  src: url('../fonts/intel/ClearSans-BoldItalic.eot');
  src: url('../fonts/intel/ClearSans-BoldItalic.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/ClearSans-BoldItalic.ttf') format('truetype');
  src: url('../fonts/intel/ClearSans-BoldItalic.svg') format('svg');
  src: url('../fonts/intel/ClearSans-BoldItalic.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'IntelClear-Light';
  src: url('../fonts/intel/IntelClear_WLat_Lt.eot');
  src: url('../fonts/intel/IntelClear_WLat_Lt.eot#iefix') format('embedded-opentype'),
       url('../fonts/intel/IntelClear_WLat_Lt.ttf') format('truetype'),
       url('../fonts/intel/IntelClear_WLat_Lt.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Regular';
  src: url('../fonts/intel/IntelClear_WLat_Rg.eot');
  src: url('../fonts/intel/IntelClear_WLat_Rg.eot#iefix') format('embedded-opentype'),
       url('../fonts/intel/IntelClear_WLat_Rg.ttf') format('truetype'),
       url('../fonts/intel/IntelClear_WLat_Rg.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Bold';
  src: url('../fonts/intel/IntelClear_WLat_Bd.eot');
  src: url('../fonts/intel/IntelClear_WLat_Bd.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/IntelClear_WLat_Bd.ttf') format('truetype');
  src: url('../fonts/intel/IntelClear_WLat_Bd.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-Italic';
  src: url('../fonts/intel/IntelClear_WLat_It.eot');
  src: url('../fonts/intel/IntelClear_WLat_It.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/IntelClear_WLat_It.ttf') format('truetype');
  src: url('../fonts/intel/IntelClear_WLat_It.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-LightItalic';
  src: url('../fonts/intel/IntelClear_WLat_LtIt.eot');
  src: url('../fonts/intel/IntelClear_WLat_LtIt.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/IntelClear_WLat_LtIt.ttf') format('truetype');
  src: url('../fonts/intel/IntelClear_WLat_LtIt.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClear-BoldItalic';
  src: url('../fonts/intel/IntelClear_WLat_BdIt.eot');
  src: url('../fonts/intel/IntelClear_WLat_BdIt.eot#iefix') format('embedded-opentype');
  src: url('../fonts/intel/IntelClear_WLat_BdIt.ttf') format('truetype');
  src: url('../fonts/intel/IntelClear_WLat_BdIt.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'IntelClearPro-Bold';
  src: url('../fonts/intel/IntelClearPro_W_Bd.eot');
  src: url('../fonts/intel/IntelClearPro_W_Bd.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/intel/IntelClearPro_W_Bd.ttf') format('truetype');
  src: url('../fonts/intel/IntelClearPro_W_Bd.woff') format('woff');
  font-weight: normal;
}
