/*
light_green = #9af530;
dark_green = #7be500;
light_cyan = #6ae2fd;
dark_cyan = #00ccff;
charcoal = #3b404c;
beige = #e7e7d1;
*/
/* line 5, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 25, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 29, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 41, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 138, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 45, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 154, ../../../../../../Users/nbnunezl/.rbenv/versions/2.3.0/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*$lightgray: #F0F2F4;
$lightgray-l: #F6F7F8;
$lightgray-ll: #FFF;

// Gray
$gray: rgb(145, 145, 150);
$gray-l: rgb(175, 178, 181);
$gray-ll: rgb(209, 211, 213);

// Dark Gray
$darkgray: rgb(45, 50, 55);
$darkgray-l: rgb(76, 81, 85);
$darkgray-ll: rgb(108, 112, 116);*/
/* line 2, ../sass/partials/_grid.scss */
.grid .col-1 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-2 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-3 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-4 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-5 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-6 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-7 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-8 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-9 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-10 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-11 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-12 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-13 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-14 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-15 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-16 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-17 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-18 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-19 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-20 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-21 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-22 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-23 {
  padding: 25px;
}

/* line 2, ../sass/partials/_grid.scss */
.grid .col-24 {
  padding: 25px;
}

/* line 7, ../sass/partials/_grid.scss */
.carousel > div {
  padding: 0 25px;
}

@media (min-width: 767px) {
  /* line 13, ../sass/partials/_grid.scss */
  .col-1 {
    width: 2.08333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-1::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-1 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-2 {
    width: 6.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-2::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-2 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-3 {
    width: 10.41667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-3::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-3 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-4 {
    width: 14.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-4::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-4 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-5 {
    width: 18.75%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-5::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-5 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-6 {
    width: 22.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-6::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-6 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-7 {
    width: 27.08333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-7::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-7 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-8 {
    width: 31.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-8::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-8 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-9 {
    width: 35.41667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-9::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-9 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-10 {
    width: 39.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-10::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-10 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-11 {
    width: 43.75%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-11::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-11 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-12 {
    width: 47.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-12::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-12 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-13 {
    width: 52.08333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-13::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-13 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-14 {
    width: 56.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-14::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-14 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-15 {
    width: 60.41667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-15::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-15 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-16 {
    width: 64.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-16::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-16 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-17 {
    width: 68.75%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-17::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-17 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-18 {
    width: 72.91667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-18::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-18 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-19 {
    width: 77.08333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-19::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-19 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-20 {
    width: 81.25%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-20::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-20 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-21 {
    width: 85.41667%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-21::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-21 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-22 {
    width: 89.58333%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-22::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-22 {
    padding: 15px 25px 0 25px;
  }

  /* line 13, ../sass/partials/_grid.scss */
  .col-23 {
    width: 93.75%;
    float: left;
    margin-left: 1.04167%;
    margin-right: 1.04167%;
    box-sizing: border-box;
  }
  /* line 16, ../sass/partials/_grid.scss */
  .col-23::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 23, ../sass/partials/_grid.scss */
  .grid .col-23 {
    padding: 15px 25px 0 25px;
  }

  /* line 28, ../sass/partials/_grid.scss */
  .col-24 {
    width: 97.91667%;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }

  /* line 34, ../sass/partials/_grid.scss */
  .cell {
    display: table-cell;
    float: none;
    vertical-align: middle;
  }

  /* line 40, ../sass/partials/_grid.scss */
  .grid.default-page .col-6 {
    padding-left: 0;
    margin-left: 0;
    width: 23.95834%;
  }

  /* line 46, ../sass/partials/_grid.scss */
  .carousel > div {
    padding: 0;
  }

  /* line 50, ../sass/partials/_grid.scss */
  .grid {
    padding: 0 !important;
  }

  /* line 54, ../sass/partials/_grid.scss */
  .grid.default-page {
    padding: 2% !important;
  }
}
@media (min-width: 1025px) {
  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-1 {
    width: 2.08333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-1::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-2 {
    width: 6.25% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-2::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-3 {
    width: 10.41667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-3::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-4 {
    width: 14.58333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-4::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-5 {
    width: 18.75% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-5::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-6 {
    width: 22.91667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-6::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-7 {
    width: 27.08333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-7::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-8 {
    width: 31.25% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-8::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-9 {
    width: 35.41667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-9::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-10 {
    width: 39.58333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-10::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-11 {
    width: 43.75% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-11::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-12 {
    width: 47.91667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-12::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-13 {
    width: 52.08333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-13::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-14 {
    width: 56.25% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-14::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-15 {
    width: 60.41667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-15::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-16 {
    width: 64.58333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-16::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-17 {
    width: 68.75% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-17::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-18 {
    width: 72.91667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-18::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-19 {
    width: 77.08333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-19::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-20 {
    width: 81.25% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-20::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-21 {
    width: 85.41667% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-21::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-22 {
    width: 89.58333% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-22::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .col-lg-23 {
    width: 93.75% !important;
    float: left;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
  /* line 66, ../sass/partials/_grid.scss */
  .col-lg-23::after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 74, ../sass/partials/_grid.scss */
  .col-lg-24 {
    width: 97.91667% !important;
    box-sizing: border-box;
    margin: 0 1.04167%;
  }
}
/* line 81, ../sass/partials/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 1248px;
}

/* line 86, ../sass/partials/_grid.scss */
.hidden-sm {
  display: none;
}
@media (min-width: 767px) {
  /* line 86, ../sass/partials/_grid.scss */
  .hidden-sm {
    display: inherit;
  }
}

/* line 93, ../sass/partials/_grid.scss */
.hidden-md {
  display: inherit;
}
@media (min-width: 767px) {
  /* line 93, ../sass/partials/_grid.scss */
  .hidden-md {
    display: none;
  }
}

@media (min-width: 767px) {
  /* line 102, ../sass/partials/_grid.scss */
  #gridElements.grid .grid-item {
    width: 47%;
  }
}
/* line 1, ../sass/partials/_global.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  font-weight: 400;
}

/* line 8, ../sass/partials/_global.scss */
em {
  font-style: italic;
}

/* line 12, ../sass/partials/_global.scss */
u {
  text-decoration: underline;
}

/* line 16, ../sass/partials/_global.scss */
strong,
b {
  font-weight: bold;
}

/* line 21, ../sass/partials/_global.scss */
p {
  word-wrap: break-word;
  margin-bottom: 16px;
}

/* line 26, ../sass/partials/_global.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: #3b404c;
  margin: 0;
  line-height: 1.4;
}

/* line 38, ../sass/partials/_global.scss */
#scroller h1, #scroller .h1,
#scroller h2, #scroller .h2,
#scroller h3, #scroller .h3,
#scroller h4, #scroller .h4,
#scroller h5, #scroller .h5,
#scroller h6, #scroller .h6 {
  margin: 2rem 0 1rem 0;
}

/* line 48, ../sass/partials/_global.scss */
h1, .h1 {
  font-weight: 500;
  font-size: 30px;
}

/* line 53, ../sass/partials/_global.scss */
h2, .h2 {
  font-weight: 700;
  font-size: 18px;
}

/* line 58, ../sass/partials/_global.scss */
h3, .h3 {
  font-weight: 500;
  font-size: 18px;
}

/* line 63, ../sass/partials/_global.scss */
h4, .h4 {
  font-size: 14px;
  font-weight: 700;
}

/* line 68, ../sass/partials/_global.scss */
h5, .h5 {
  font-size: 14px;
  font-weight: 700;
}

/* line 73, ../sass/partials/_global.scss */
h6, .h6 {
  font-size: 14px;
  font-weight: 700;
}

/* line 78, ../sass/partials/_global.scss */
.small {
  font-size: 14px;
}

/* line 82, ../sass/partials/_global.scss */
.large {
  font-size: 18px;
}

/* line 86, ../sass/partials/_global.scss */
.txt-center {
  text-align: center;
}

/* line 90, ../sass/partials/_global.scss */
ul, ol {
  margin-bottom: 16px;
}

/* line 94, ../sass/partials/_global.scss */
.title,
#title {
  font-weight: 700;
  font-size: 14px;
}

/* line 100, ../sass/partials/_global.scss */
.subtitle {
  font-weight: 700;
}

/* line 104, ../sass/partials/_global.scss */
.right {
  float: right;
}

/* line 108, ../sass/partials/_global.scss */
.left {
  float: left;
}

/* line 113, ../sass/partials/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 120, ../sass/partials/_global.scss */
.fa {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  height: 32px;
  width: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius: 32px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
/* line 128, ../sass/partials/_global.scss */
.fa.selected, .fa:hover {
  background-color: #3b404c;
  color: #fff;
}
/* line 134, ../sass/partials/_global.scss */
.fa::before {
  position: relative;
  top: 8px;
}

/* line 141, ../sass/partials/_global.scss */
paper-button .fa:hover {
  background-color: transparent;
  color: inherit;
}

/* line 147, ../sass/partials/_global.scss */
span.fa,
i {
  display: inline-block;
  vertical-align: top;
}

/* line 152, ../sass/partials/_global.scss */
a {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  color: #23ccfc;
  text-decoration: none;
  font-weight: 500;
}
/* line 158, ../sass/partials/_global.scss */
a:visited {
  color: #23ccfc;
}
/* line 162, ../sass/partials/_global.scss */
a:hover, a:focus, a:active, a.active {
  text-decoration: underline;
}

/* line 170, ../sass/partials/_global.scss */
iron-accordions[attr-for-selected="slug"] {
  padding: 15px 0;
}

/* line 175, ../sass/partials/_global.scss */
#drawer iron-accordion h4 {
  position: relative;
  padding-right: 25px;
}
/* line 180, ../sass/partials/_global.scss */
#drawer iron-accordion h4 .fa {
  position: absolute;
  top: 8px;
  right: 5px;
  font-size: 12px;
}
/* line 186, ../sass/partials/_global.scss */
#drawer iron-accordion h4 .fa:hover {
  background-color: transparent;
  color: inherit;
}
/* line 192, ../sass/partials/_global.scss */
#drawer iron-accordion[opened] .fa::before {
  content: '\f077';
}

/* line 197, ../sass/partials/_global.scss */
#drawer .slug {
  border-bottom: none;
}
/* line 200, ../sass/partials/_global.scss */
#drawer .slug h4 {
  background-color: transparent;
  color: #3b404c;
  font-weight: normal;
  padding: 5px 0 !important;
  text-decoration: underline;
}
/* line 207, ../sass/partials/_global.scss */
#drawer .slug h4.active {
  background-color: transparent !important;
  font-weight: 700;
}

/* line 215, ../sass/partials/_global.scss */
#drawer .slug:hover h4 {
  color: #3b404c;
  font-weight: 700;
}

/* line 221, ../sass/partials/_global.scss */
code, pre {
  font-family: monospace;
  font-weight: 400;
}

/* line 227, ../sass/partials/_global.scss */
.menu-inline li {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  margin: 0 5px;
}
/* line 232, ../sass/partials/_global.scss */
.menu-inline li.social-link {
  padding: 0;
}

/* line 238, ../sass/partials/_global.scss */
#edit {
  padding: 5px 15px;
  background-color: #fff;
  border: 1px dotted #23ccfc;
}

/* line 244, ../sass/partials/_global.scss */
#edit::after {
  content: '\f040';
  color: #23ccfc;
  font-family: 'FontAwesome';
  margin-left: 5px;
  font-size: 12px;
}

/* logo cursor to pointer indicating you can click... */
/* line 253, ../sass/partials/_global.scss */
.clickable {
  cursor: pointer;
}

/* line 257, ../sass/partials/_global.scss */
#drawer iron-accordion {
  border-bottom: 1px solid #caccc3;
}
/* line 259, ../sass/partials/_global.scss */
#drawer iron-accordion h1, #drawer iron-accordion h2, #drawer iron-accordion h3,
#drawer iron-accordion h4, #drawer iron-accordion h5, #drawer iron-accordion h6 {
  font-weight: bold;
  text-transform: none;
  color: #3b404c;
}
/* line 264, ../sass/partials/_global.scss */
#drawer iron-accordion h1:hover, #drawer iron-accordion h2:hover, #drawer iron-accordion h3:hover,
#drawer iron-accordion h4:hover, #drawer iron-accordion h5:hover, #drawer iron-accordion h6:hover {
  color: #23ccfc;
}
/* line 267, ../sass/partials/_global.scss */
#drawer iron-accordion h1:after, #drawer iron-accordion h2:after, #drawer iron-accordion h3:after,
#drawer iron-accordion h4:after, #drawer iron-accordion h5:after, #drawer iron-accordion h6:after {
  content: '\f105';
  font-family: 'FontAwesome';
  float: right;
  padding: 0 5px;
  position: absolute;
  top: 10px;
  right: 0;
}

/* line 282, ../sass/partials/_global.scss */
#drawer iron-accordion[opened] h1:after, #drawer iron-accordion[opened] h2:after, #drawer iron-accordion[opened] h3:after,
#drawer iron-accordion[opened] h4:after, #drawer iron-accordion[opened] h5:after, #drawer iron-accordion[opened] h6:after {
  content: '';
}

/* line 288, ../sass/partials/_global.scss */
.wordmark {
  margin: 1rem;
  width: 400px;
  height: 64px;
  background-image: url("../images/logo.png");
  background-size: 46px auto;
  background-position: 0px center;
  background-repeat: no-repeat;
  padding-left: 46px;
  font-size: 40px;
  line-height: 64px;
}

/* line 301, ../sass/partials/_global.scss */
.wordmark span:first-child {
  color: #9af530;
}

/* line 305, ../sass/partials/_global.scss */
.wordmark span:last-child {
  color: #6ae2fd;
}

/* line 309, ../sass/partials/_global.scss */
.owl-item > div {
  padding: 25px 0;
  text-align: center;
}

/* line 314, ../sass/partials/_global.scss */
.owl-dots {
  margin-top: 15px;
  text-align: center;
}
/* line 318, ../sass/partials/_global.scss */
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: transparent;
  border: 1px solid #fff;
  margin: 0 5px;
}
/* line 325, ../sass/partials/_global.scss */
.owl-dots .owl-dot.active {
  background-color: #fff;
}

/* line 332, ../sass/partials/_global.scss */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 339, ../sass/partials/_global.scss */
.img-responsive img,
img.img-responsive,
img.markdown-it {
  max-width: 100% !important;
  height: auto;
}

/* line 347, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-content {
  display: block;
  padding: 25px;
}
/* line 351, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-sidebar {
  width: 100%;
  display: table;
  background-color: #f0f0e2;
  line-height: 2em;
  color: #3b404c;
}
/* line 358, ../sass/partials/_global.scss */
.tuto-reader-container p.title {
  color: #000;
  font-size: 1em;
  padding-bottom: 10px;
  text-alignment: left;
}
/* line 365, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author span.name {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 370, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author span.location {
  color: #caccc3;
}
/* line 373, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author p.title {
  display: none;
}
/* line 380, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author .image {
  display: inline-block;
}
/* line 382, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author .image img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
}
/* line 388, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-author .description {
  display: inline-block;
  padding-left: 15px;
}
/* line 396, ../sass/partials/_global.scss */
.tuto-reader-container .tuto-keywords {
  display: table-cell;
}
/* line 399, ../sass/partials/_global.scss */
.tuto-reader-container .sidebar-section {
  padding: 25px;
  border-bottom: none;
}

/* line 405, ../sass/partials/_global.scss */
.home-section {
  min-height: auto;
  box-sizing: border-box;
  padding: 45px 0;
  position: relative;
}

/* line 412, ../sass/partials/_global.scss */
.gallery .item {
  padding: 5% 0 70px 0;
}

/* line 416, ../sass/partials/_global.scss */
.gallery .item .container {
  padding: 0 5%;
  box-sizing: border-box;
}

/* line 421, ../sass/partials/_global.scss */
.background-img {
  display: none;
}

@media (min-width: 767px) {
  /* line 426, ../sass/partials/_global.scss */
  .background-img {
    display: inherit;
  }

  /* line 430, ../sass/partials/_global.scss */
  .gallery .item {
    padding: 5% 0 0 0;
  }

  /* line 434, ../sass/partials/_global.scss */
  .home-section {
    min-height: 300px;
    padding: 5% 0;
  }

  /* line 439, ../sass/partials/_global.scss */
  .gallery .item .container {
    padding: 0;
  }

  /* line 443, ../sass/partials/_global.scss */
  .tuto-reader-container {
    display: table;
    min-height: 100%;
  }
  /* line 446, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar {
    display: table-cell;
    vertical-align: top;
    padding: 15px;
    width: 350px;
  }
  /* line 452, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-author {
    display: block;
  }
  /* line 454, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-author .title {
    display: inherit;
  }
  /* line 457, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-author .details {
    display: table;
  }
  /* line 460, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-author .image {
    display: table-cell;
    padding-bottom: 15px;
    padding-right: 15px;
  }
  /* line 465, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-author .description {
    display: table-cell;
    vertical-align: middle;
  }
  /* line 470, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-info {
    display: block;
  }
  /* line 473, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .tuto-keywords {
    display: block;
  }
  /* line 476, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-sidebar .sidebar-section {
    padding: 15px 15px 30px 15px;
    border-bottom: 1px solid #caccc3;
    border-right: none;
  }
  /* line 482, ../sass/partials/_global.scss */
  .tuto-reader-container .tuto-content {
    display: table-cell;
    vertical-align: top;
  }
}
/* line 1, ../sass/partials/_tables.scss */
table {
  background-color: transparent;
}

/* line 4, ../sass/partials/_tables.scss */
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

/* line 10, ../sass/partials/_tables.scss */
th {
  text-align: left;
}

/* line 13, ../sass/partials/_tables.scss */
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

/* line 18, ../sass/partials/_tables.scss */
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/* line 29, ../sass/partials/_tables.scss */
table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

/* line 33, ../sass/partials/_tables.scss */
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

/* line 41, ../sass/partials/_tables.scss */
table > tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 44, ../sass/partials/_tables.scss */
table table {
  background-color: #ffffff;
}

/* line 47, ../sass/partials/_tables.scss */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

/* line 55, ../sass/partials/_tables.scss */
.table-bordered {
  border: 1px solid #dddddd;
}

/* line 58, ../sass/partials/_tables.scss */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

/* line 66, ../sass/partials/_tables.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* line 70, ../sass/partials/_tables.scss */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

/* line 73, ../sass/partials/_tables.scss */
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

/* line 76, ../sass/partials/_tables.scss */
table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

/* line 81, ../sass/partials/_tables.scss */
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

/* line 87, ../sass/partials/_tables.scss */
table > thead > tr > td.active,
table > tbody > tr > td.active,
table > tfoot > tr > td.active,
table > thead > tr > th.active,
table > tbody > tr > th.active,
table > tfoot > tr > th.active,
table > thead > tr.active > td,
table > tbody > tr.active > td,
table > tfoot > tr.active > td,
table > thead > tr.active > th,
table > tbody > tr.active > th,
table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

/* line 101, ../sass/partials/_tables.scss */
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}

/* line 108, ../sass/partials/_tables.scss */
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}

/* line 122, ../sass/partials/_tables.scss */
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}

/* line 129, ../sass/partials/_tables.scss */
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}

/* line 143, ../sass/partials/_tables.scss */
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}

/* line 150, ../sass/partials/_tables.scss */
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

/* line 164, ../sass/partials/_tables.scss */
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}

/* line 171, ../sass/partials/_tables.scss */
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}

/* line 185, ../sass/partials/_tables.scss */
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}

/* line 192, ../sass/partials/_tables.scss */
table {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  /* line 197, ../sass/partials/_tables.scss */
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
  }

  /* line 204, ../sass/partials/_tables.scss */
  .table-responsive > table {
    margin-bottom: 0;
  }

  /* line 207, ../sass/partials/_tables.scss */
  .table-responsive table > thead > tr > th,
  .table-responsive table > tbody > tr > th,
  .table-responsive table > tfoot > tr > th,
  .table-responsive table > thead > tr > td,
  .table-responsive table > tbody > tr > td,
  .table-responsive table > tfoot > tr > td {
    white-space: nowrap;
  }

  /* line 215, ../sass/partials/_tables.scss */
  .table-responsive .table-bordered {
    border: 0;
  }

  /* line 218, ../sass/partials/_tables.scss */
  .table-responsive .table-bordered > thead > tr > th:first-child,
  .table-responsive .table-bordered > tbody > tr > th:first-child,
  .table-responsive .table-bordered > tfoot > tr > th:first-child,
  .table-responsive .table-bordered > thead > tr > td:first-child,
  .table-responsive .table-bordered > tbody > tr > td:first-child,
  .table-responsive .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }

  /* line 226, ../sass/partials/_tables.scss */
  .table-responsive .table-bordered > thead > tr > th:last-child,
  .table-responsive .table-bordered > tbody > tr > th:last-child,
  .table-responsive .table-bordered > tfoot > tr > th:last-child,
  .table-responsive .table-bordered > thead > tr > td:last-child,
  .table-responsive .table-bordered > tbody > tr > td:last-child,
  .table-responsive .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }

  /* line 234, ../sass/partials/_tables.scss */
  .table-responsive .table-bordered > tbody > tr:last-child > th,
  .table-responsive .table-bordered > tfoot > tr:last-child > th,
  .table-responsive .table-bordered > tbody > tr:last-child > td,
  .table-responsive .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
/* line 1, ../sass/partials/_buttons.scss */
.btn,
.tag,
.btn:visited {
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  display: inline-block;
  vertical-align: top;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-color: transparent;
  border: 2px solid #3b404c;
  color: #3b404c;
  cursor: pointer;
  padding: 5px 25px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}
/* line 16, ../sass/partials/_buttons.scss */
.btn:hover,
.tag:hover,
.btn:visited:hover {
  background-color: #3b404c;
  border-color: #3b404c;
  color: #fff;
  text-decoration: none;
}
/* line 23, ../sass/partials/_buttons.scss */
.btn.disabled,
.tag.disabled,
.btn:visited.disabled {
  cursor: default;
}

/* line 28, ../sass/partials/_buttons.scss */
.btn a,
.btn a:visited {
  color: #3b404c;
}

/* line 33, ../sass/partials/_buttons.scss */
.btn:hover a {
  color: #fff;
}

/* line 1, ../sass/partials/_footer.scss */
footer {
  background-color: #3b404c;
  padding: 25px 0;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
}
/* line 9, ../sass/partials/_footer.scss */
footer .menu-inline {
  text-align: center;
}
@media (min-width: 1025px) {
  /* line 1, ../sass/partials/_footer.scss */
  footer {
    text-align: left;
  }
  /* line 16, ../sass/partials/_footer.scss */
  footer .menu-inline {
    text-align: left;
  }
  /* line 20, ../sass/partials/_footer.scss */
  footer .menu-inline.right ul {
    float: right;
  }
  /* line 24, ../sass/partials/_footer.scss */
  footer .menu-inline li:first-child {
    margin-left: 0;
    padding-left: 0;
  }
}
/* line 30, ../sass/partials/_footer.scss */
footer li {
  line-height: 32px;
}
/* line 33, ../sass/partials/_footer.scss */
footer li a {
  color: #fff;
}
/* line 36, ../sass/partials/_footer.scss */
footer li a:visited {
  color: #fff;
}
/* line 40, ../sass/partials/_footer.scss */
footer li a:hover, footer li a:focus, footer li a:active, footer li a.active {
  color: #23ccfc;
}
/* line 48, ../sass/partials/_footer.scss */
footer li span {
  color: #fff;
  margin-left: 5px;
}
/* line 52, ../sass/partials/_footer.scss */
footer li span:hover {
  color: #23ccfc !important;
}
/* line 58, ../sass/partials/_footer.scss */
footer .list-title {
  display: block;
  margin-bottom: 25px;
  font-weight: 700;
}
@media (min-width: 1025px) {
  /* line 65, ../sass/partials/_footer.scss */
  footer .menu-social {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  /* line 73, ../sass/partials/_footer.scss */
  footer .menu-inline ul {
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  /* line 79, ../sass/partials/_footer.scss */
  footer .menu-social {
    position: relative;
    width: 14.58333%;
    text-align: center;
  }
}

/* line 87, ../sass/partials/_footer.scss */
.footer-copyright span {
  color: #fff;
  display: inline-block;
  line-height: 32px;
}

/* line 93, ../sass/partials/_footer.scss */
.footer-logo {
  position: absolute;
  bottom: 25px;
  left: 10px;
}
@media (min-width: 767px) {
  /* line 93, ../sass/partials/_footer.scss */
  .footer-logo {
    position: static;
  }
}
